.avaContainer {
  width: 96px;
  position: relative;

  .union {
    position: absolute;
    left: 66%;
    top: 72%;
    width: 32px;
    height: 32px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    background-color: #808080;
    text-align: center;

    img {
      margin-top: 5px;
    }
  }

  .avatar {
    margin-top: 30px;
    border-radius: 50%;
    max-width: 96px;
    max-height: 96px;
  }
}

.email {
  margin-top: 14px;
  font-size: 14px;
}

.nickName {
  margin-top: 15px;
  font-weight: 500;
  font-size: 20px;

  span {
    padding-left: 5px;
  }

  button {
    border: none;
    background: none;
    margin-left: 5px;

    :active {
      opacity: .4;
    }

  }

  .input {
    .nick {
      font-size: 13px;
      opacity: .5;
    }

    .inputContainer {
      display: flex;
      justify-content: space-between;

      input {
        width: 100%;
        border: none;
        font-weight: 500;
        font-size: 16px;
        outline: none;
      }

      .saveButton {
        margin-right: 12px;
        width: 52px;
        height: 24px;
        text-align: center;
        background-color: #366EFF;
      }
    }

    .border {
      width: 347px;
      margin-top: 4px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.27);;
    }
  }

  .inputError {
    font-size: 14px;
    color: red;
  }

}
