.select {
  position: relative;
  
  width: 50px;
  height: 24px;
  padding-left: 9px;
  
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #a9a9a9;
  
  background: 95% url('../../assets/svg/chevron-down.svg') no-repeat;
  border: 1px solid #c2c2c2;
  border-radius: 2px;
  outline: none;
  
  appearance: none;
}

.select:focus {
}

.select option {
  display: inline-block;
  
  color: #000;
  
  border-radius: 200px;
}

.option:hover {
}
