@import "./src/styles/mixins";
.passwordContainer{
  position: relative;
  input {
    width: 87%;
  }
  .showPass {
    position: absolute;
    right: 10px;
    top: 4px;

    img{
      width: 24px;
    }

    &:after{
      content: '';
      position: absolute;
      width: 26px;
      height: 2px;
      top: 7px;
      right: -2px;
      background: #000;
      border-radius: 25px;
      border: 1px solid #fff;
      transform: rotate(150deg);
    }


  }
  .active {
    position: absolute;
    right: 10px;
    top: 4px;

    img{
      width: 24px;
    }

    &:after {
      display: none;
    }
  }
}