@import "./src/styles/mixins";
@import "./src/features/SignUp/SignUp.module";
.signUp {
  h3 {
    margin: 35px 0 54px 0;
  }

  form {
    label {
      margin-bottom: 5px;

      .error {
        top: 28px;
      }
    }

    .sendBtn {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  p {
    padding: inherit;
  }
}