.arrow {
  margin-top: 24px;
  margin-bottom: 12px;
  padding-left: 10px;
  font-size: 14px;
  cursor: pointer;
  img {
    margin-right: 12px;
  }

  a{
    text-decoration: none;
    color: #0D0C0B;
  }
}