@import "../../styles/mixins";
@import "../PackList/PackList.module";

.listWrapper {
  .interfaceField {
    .search {
      width: 100%;

      div {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  table {

    span {
      opacity: 1;
    }

    thead {
      tr {
        th {
          &:first-child {
            width: 250px;
          }


        }
      }
    }

 
  }


}

.renderWrapper {
  display: flex;
  align-items: center;

  div {
    display: flex;

    span {
      display: flex;

      label {
        display: flex;

        svg {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}




