@import "./src/styles/mixins";


.table {
  margin-bottom: 20px;

  span {
    opacity: 0.5;
  }

  a {
    text-decoration: none;
    color: #0D0C0B;
  }

  table {
    thead {

      background-color: #EFEFEF;

      tr {


        th {
          position: relative;
          @include minorTitle();
          cursor: pointer;

          &:first-child {
            width: 60px;
          }

          &:nth-child(2) {
            width: 200px;
          }

          &:last-child {
            width: 100px;
          }

          img {
            position: absolute;
            margin-left: 10px;
            width: 15px;
            top: 40%;
          }

          &:last-child {
            img {
              display: none;
            }
          }
        }


      }
    }

    .disabled {
      pointer-events: none;
      opacity: .5;
    }


  }


  tbody {

    tr {
      th {
        span, a {
          display: inline-block;
          width: 250px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .cover {
          max-width: 200px;
          max-height: 200px;
        }

        &:last-child {
          span, a {
            display: flex;
            align-items: center;
            width: 100px;
          }
        }
      }
    }

  }
}

.cardCover {
  img {
    width: 50px;
  }
}