.input:focus {
  border: 1px solid #00cc22;

  scale: 1.05;
}

.input {
  width: 32.63vw;
  height: 36px;
  margin-bottom: 10px;
  padding-left: 10px;

  font-size: 16px;
  font-weight: 500;
  line-height: 20px;

  border: 1px solid #d1d1d1;
  border-radius: 5px;
  outline: none;
}

.inputWrapper {
  position: relative;

  display: flex;
  flex-direction: column-reverse;
}

.superInput {
  transition: ease-in-out 0.3s;
}

.errorInput {
  border: 1px solid #cc0000;
}

.errorInput:focus {
  border: 1px solid #cc0000;
}

.error {
  position: absolute;
  top: -20px;
  left: 0;

  color: #cc0000;
}
