@import "../../../styles/mixins";
@import "../../PackList/PackList.module";

.listWrapper {
  .interfaceField {
    .search {
      width: 100%;

      div {
        width: 100%;
        max-width: 100%;

        div {
          //width: 100%;

          input {
            //width: 100%;
          }
        }
      }
    }
  }
}